*.apk
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.class
gradle/
gradlew
gradlew.bat
.idea/
device-*.png
ic_launcher-web.png
ic_launcher_circle-web.png
google-services.json
